.LinkRobinsPostNum {
    float: right;
    margin-right: 10px;
    color: var(--muted-color);
    font-size: 0.85rem;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
}

@media (max-width: 767px) {
    .LinkRobinsPostNum {
        margin-top: 5px;
    }
}
